body {
    margin: 0px;
    background-color: #191919;
}

#nav1 {
    position: absolute;
    z-index: 10;
}

#nav2 {
    width: 4%;
    position: absolute;
}

#nav3 {
    position: absolute;
    right: 0px;
    z-index: 5;
}

#About {
    display: none;
    width: 100%;
    height: 700px;
}

.me {
    width: 100%;
    height: 100%;
    background-color: #42b850;
}

.me div {
    padding: 210px 30% 8% 20%;
    color: white;
}

.edu {
    width: 100%;
    height: 100%;
    background-color: orange;
    display: none;
}

.edu .format {
    padding: 210px 15% 0% 0%;
    color: white;
    float: left;
    margin-left: 10%;
}

.exp {
    width: 100%;
    height: 100%;
    background-color: skyblue;
    display: none;
    overflow: scroll;
}

.works {
    margin-left: 5%;
}

.exp div {
    padding: 1px;
    color: white;
}

.proj {
    width: 100%;
    height: 100%;
    background-color: blue;
    display: none;
}

.proj div {
    padding: 210px 30% 8% 20%;
    color: white;
}

.sideNav {
    margin-top: 90px;
}

.position {
    position: absolute;
    color: white;
    top: 230px;
    width: 100%;
}

.font {
    font-family: "Courier New", Courier, monospace;
    font-size: 5em;
    margin: 0 3% 0;
}

.font2 {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 1.2em;
    margin: 0 3%;
}

a {
    color: white;
    font-size: 1.7em;
    text-decoration: none;
    font-family: "Courier New", Courier, monospace;
}

.textCenter {
    text-align: center;
    line-height: 30px;
}

ul {
    margin-top: 0px;
}

nav ul li{
    list-style-type: none;
    float: left;
}

.resize {
    margin-left: 3%;
}

.marginBottom {
    margin-bottom: 2%;
}

video {
    width: 100%;
    z-index: -10;
    box-shadow: 0px 0px 135px black;
}

.box:before {
    content: "";
    display: block;
    background-color: #191919;
    border: solid 1px silver;
    border-left: 0;
    width: 35px;
    height: 35px;
    position: absolute;
    top: -1px;
    /* pull it up because of 1px border */
    right: -17.5px;
    /* 35px / 2 */
    transform: skew(-45deg);
    -o-transform: skew(-45deg);
    -moz-transform: skew(-45deg);
    -webkit-transform: skew(-45deg);
}

.box {
    width: 340px;
    height: 35px;
    line-height: 35px;
    padding: 0 5px;
    background-color: #191919;
    padding-right: 20px;
    border: solid 1px #191919;
    border-right: 0;
    position: relative;
    border: solid 1px silver;
}

.social:before {
    content: "";
    display: block;
    background-color: #191919;
    border: solid 1px silver;
    border-right: 0;
    width: 35px;
    height: 35px;
    position: absolute;
    top: -1px;
    right: 292.5px;
    transform: skew(45deg);
    -o-transform: skew(45deg);
    -moz-transform: skew(45deg);
    -webkit-transform: skew(45deg);
}

.social {
    width: 285px;
    height: 35px;
    line-height: 35px;
    padding: 0 5px;
    background-color: #191919;
    padding-right: 20px;
    border: solid 1px #191919;
    border-right: 0;
    position: relative;
    border: solid 1px silver;
}

.videoBG {
    display: none;
}

.padding {
    padding-left: 25%;
}

.hoverColor1:hover {
    color: #0C73CE;
}

.hoverColor2:hover {
    color: red;
}

.hoverColor3:hover {
    color: #1491B7;
}

.hoverColor4:hover {
    color: yellow;
}

footer {
    background-color: #191919;
    width: 100%;
    color: white;
    margin-top: 10%;
}

.thumb {
    height: 10%;
}

.contactPage {
    display:none;
    width: 100%;
    height: 100%;
    background-color: gray;
    padding: 20px 15% 7% 35%;
}
.formAdj {
    margin-top:10%;
}
form {
    color:white;
    list-style-type:none;
}

@media only screen and (max-width: 1250px) {
    .font {
        font-size: 2.5em;
    }
}

@media only screen and (max-width: 965px) {
    video {
        height: 500px;
        display: none;
    }
    .font {
        font-size: 3em;
    }
    .font2 {
        font-size: 1em;
    }
    nav ul li {
        font-size: .7em;
    }
    .box {
        width: 100%;
    }
    .social:before {
        right: 93.5%;
    }
    .videoBG {
        width: 100%;
        display: block;
    }
    .sideNav {
        margin-left: -30px;
    }
    .me div {
        padding: 20px 15% 7% 20%;
    }
    .sideNav {
        margin-left: -30px;
    }
    .edu .format {
        padding: 20px 15% 7% 20%;
        text-align: center;
    }
}

@media only screen and (max-width: 480px) {
    footer h3 {
        font-size: .7em;
    }
    .font {
        font-size: 2em;
    }
    .font2 {
        font-size: 1em;
    }
    .social:before {
        display: none;
    }
    .social {
        display: none;
    }
    .box:before {
        display: none;
    }
    .padding {
        padding: 0px;
    }
    #nav1 {
        width: 100%;
    }
    .me div {
        padding: 20px 15% 7% 20%;
    }
    .sideNav {
        margin-left: -30px;
    }
    .edu .format {
        padding: 20px 15% 7% 20%;
        text-align: center;
    }
    .maring {
        margin-top: 20px;
    }
}